@page "/"
@using Project21AS.Client.Client
@using Project21AS.Client.Shared.ChartJs
@inject AppClient client
@attribute [Authorize]

<div>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-body" style="height:7vh">
                    <i class="fa fa-building-o icon" aria-hidden="true"></i>
                    Total Batches <i style="float:right; color:black; font-size:20px; font-weight:600">@TotalBatches</i>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="batches">View Details</a>
                    <div class="small text-white"><i class="fa fa-arrow-circle-o-right fa-2x" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body" style="height:7vh">
                    <i class="fa fa-building-o icon" aria-hidden="true"></i>
                    Total Students <i style="float:right; color:black; font-size:20px; font-weight:600">@TotalStudents</i>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="students">View Details</a>
                    <div class="small text-white"><i class="fa fa-arrow-circle-o-right fa-2x" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-chart-bar me-1"></i>
                    Dashboard Statistics
                </div>
                <div class="card-body">
                    <Chart Id="dashboardbar"
                           Type="ChartType.bar"
                           Datasets="@DashboardDatasets"
                           Labels="@DashboardLabels"
                           AspectRatio="false"
                           IndexAxis="y"
                           borderRadius="5"
                           IsStacked="false" />
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    int TotalBatches;
    int TotalStudents;

    string[] DashboardLabels = System.Array.Empty<string>();
    List<ChartJsDataset> DashboardDatasets = new();

    protected override async Task OnInitializedAsync()
    {
        var data = await client.GetDashboardStatistics();
        TotalBatches = data.TotalBatches;
        TotalStudents = data.TotalStudent;

        DashboardLabels = new[] { "Batches", "Students" };
        DashboardDatasets.Add(new ChartJsDataset
        {
            Label = "Totals",
            Data = new[] { TotalBatches.ToString(), TotalStudents.ToString() },
            BackgroundColor = new[] { "#36A2EB", "#FF6384" }
        });
    }
}
